<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uottawa.benjaminmacdonald.cooking_app">

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RecipeActivity"
            android:label=" "
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.uottawa.benjaminmacdonald.cooking_app.MainActivity"/>-->
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HelpActivity"
            android:label="Help">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".HelpSubActivities.SubactivityFAQ" />
        <activity android:name=".HelpSubActivities.SubactivitySearchHelp" />
        <activity android:name=".HelpSubActivities.SubactivityFavorite" />
        <activity android:name=".HelpSubActivities.SubactivityAddOwnRecipe" />
        <activity android:name=".HelpSubActivities.SubactivityContact" />

        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uottawa.benjaminmacdonald.cooking_app.MainActivity"/>
        </activity>

    </application>

</manifest>