<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uottawa.benjaminmacdonald.cooking_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HelpActivity"
            android:label="Help">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".HelpSubActivities.SubactivityFAQ" />
        <activity android:name=".HelpSubActivities.SubactivitySearchHelp" />
        <activity android:name=".HelpSubActivities.SubactivityFavorite" />
        <activity android:name=".HelpSubActivities.SubactivityAddOwnRecipe" />
        <activity android:name=".HelpSubActivities.SubactivityContact" />

        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

    </application>

</manifest>